body{
	background-image: url("5cars.jpg");
background-size: 1240px;
 	background-repeat: no-repeat;
}
#reg{
background-image: url("../images/5cars.jpg"); 
margin-top:25px;
 margin-bottom:150px;
 margin-right:150px;
 margin-left:450px;
 border:3px solid #a1a1a1;
 padding:9px 35px;
 background:#8000CC;
background-color: #cccccc;
 width:400px;

 border-radius:20px; 
box-shadow: 7px 7px 6px;
}

.centerCard{
	position:fixed;
	display:inline-block;
	width:600px;
	height:350px;
	left:437px;
	background-color: white;
	box-shadow: 0px 0px 10px 10px rgba(204, 204, 204, 0.48);
}
.formContent{
	margin:20px;
	
}
body{
background-color:#f5f5f5;
}

